/* Reset básico */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Predefinições */
body, button, input, select, textarea{

    font-family: "Lexend", sans-serif;
    /* font-family: "Heebo", sans-serif; */
  
  }

body{
    background-color: #f2f2f2;

}

:root{
    --cor-principal: #e40031;
    --cor-secundaria: #530a0a;
    --cor-de-fundo: #8a8a8a;
    --cor-branca: #ffffff;
    --cor-preta-card: black;
    --cor-de-fundo-card: #D9D9D9
}

/* Alterações na barra de navegação */
.nav-container{
    background-color: var(--cor-principal);
    max-width: 2000px;
    margin: 0 auto;
    padding: 1.2em 0em;
}

.nav-logo img{
    max-width: 12.5rem;
    max-height: 6.25rem;
    width: auto;
    height: auto;
}

/* Conteudo da navbar */
.nav-content{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

/* Container de pesquisa e local */
.filtro-container{
    margin-left: 40px;
    width: 80%;
    max-width: 700px;
    display: flex;
    align-items: center;

}

.filtro-content{
    max-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
}

/* Caixa de pesquisa */
.input-box{
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    border: none;
    border-right: none;
    outline: none;
    flex-grow: 1;
    padding: 0 10px;
    height: 40px;
    border-radius: 5px 0px 0px 5px;
    font-weight: 200;
    font-size: 17px;
    
}

.input-box:focus{
    color: #8a8a8a;
}
/* Botão da caixa de pesquisa */
.btn-input{
    
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    color: #8a8a8a;
    cursor: pointer;
    
    
}

.btn-input label{
    width: 100%;
    font-size: 20px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    color: #8a8a8a;
    cursor: pointer;
    
}


.local-container{
    max-width: 140px;
    width: 100%;
}

#local-btn{
    width: 100%;
    height: 40px;
    padding: 0 8px;
    border: none;
    color: var(--cor-branca);
    display: flex;
    background-color: transparent;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
}

#local-btn i{
    margin-left: 10px;
    font-size: 27px;
    color: #530a0a;
}

/* Container para Login e saida */
.botao-container{
    display: flex;
    align-items: center;
}

#login-btn, #cadastro-btn{
    background-color: transparent;
    border: none;
    color: var(--cor-branca);
    cursor: pointer;
    padding: 15px;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 300;
}

#cadastro-btn{
    border: 2px solid #960019;
    border-radius: 5px;

}
#cadastro-btn:hover{
    background-color: #960019;
    transition: 0.4s;
}

 /* lista de recomendaçoes */ 
.lista-evento{
    background-color: #cacaca;
    padding: 20px;
    margin-bottom: 40px;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}
.eventos{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 18px;
    
}



.eventos a{
    text-decoration: none;
    color: #e40031;
}


/* Alterações na main */

/* sessão slide */
.main-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    width: 100%;
}

/* Container dos sliders */
.slider{
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    overflow: hidden;
}

/* Alteraçao para cada slide */
.slides{
    width: 400%;
    height: 600px;
    display: flex;
}

/* Inputs dos slides radio */
.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 1s ease;
}

.slide img{
    width: 1000px;
}

/* Estilizaçao dos botões de navegação */
.manual-navigation{
    position: absolute;
    width: 1000px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

/* Estilizaçao dos inputs manuais */
.manual-btn{
    border: 1px solid var(--cor-principal);
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.6s;
}

/* espaçamento entre os botões manuais */
.manual-btn:not(:last-child){
    margin-right: 30px;
}

.manual-btn:hover{
    background-color: var(--cor-principal);
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}
#radio5:checked ~ .first{
    margin-left: -100%;
}

/* Estilizaçao do botão automatico */
.navigation-auto div {
    border: 1px solid var(--cor-principal);
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.6s;
}

/* Definiçoes para os botoes automaticos */
.navigation-auto{
    position: absolute;
    width: 1000px;
    margin-top: 560px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 30px;
}

/* Altera a cor dos botoes automaticamente ao passar em cada slide */
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--cor-principal);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--cor-principal);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--cor-principal);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: var(--cor-principal);
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: var(--cor-principal);
}

/* Sessao cards */

.sessao-swiper{
    max-width: 1200px;
    margin: 0 auto;
}

/* Estiliza o titulo da sessão do card */
.section-titulo{
    font-size: 1.5rem;
    font-weight: 300;
    margin: 70px 100px 50px;
}

/* Sessão dos cards */
.card-wrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;

}

  /* Retira o list style padrão*/
.card-list .card-item {
    list-style: none;
}

/* Estiliza o card */
.card-list .card-item .card-link {
    display: block;
    background: #fff;
    user-select: none;
    border-radius: 12px;
    text-decoration: none;
    transition: 0.2s ease;
}

/* Altera o cursor ao segurar o botão direito do mouse no slide */
.card-list .card-item .card-link:active {
    cursor: grabbing;
}

/* Sobra ao passar o cursor no card */
.card-list .card-item .card-link:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}

/* Estiliza a imagem do card */
.card-list .card-link .card-image {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

/*Estiliza a data do card */
.card-list .card-link .data-evento {
    color: var(--cor-principal);
    width: fit-content;
    padding: 5px;
    font-size: 14px;
    font-weight: 300;

    margin: 10px;
}

/* Estiliza o titulo do card */
.card-list .card-link .card-title {
    color: #000;
    font-size: 1.19rem;
    font-weight: 600;
    margin-left: 10px;
}

/* Estiliza o local do card */
.card-list .card-link .local-card{
    color: var(--cor-preta-card);
    font-size: 14px;
    font-weight: 300;
    margin-left: 10px;
    padding-bottom: 13px;
}

/* Botões de proximo e anterior nas sessões de card */
.card-wrapper .swiper-slide-button {
    color: var(--cor-principal);
    margin-top: -35px;
}

  /* Responsive media query */


/* Altera o slide principal */
/* Tira a lista de recomendações */
/* Altera o posicionamento dos botoes de entrar e cadastro */
@media(max-width: 1118px){
    .main-slider{
        margin-top: 50px;
    }
    .nav-logo{
        margin-left: 15px;
    }
    .lista-evento{
        display: none;
    }
    .botao-container{
        flex-direction: column;
    }

}

/* Tira o slide principal da tela */
@media(max-width: 980px){
    
    .main-slider{
        display: none;
    }

    .botao-container{
        display: none;
    }

}

/* Reposicionamento na navbar */
@media(max-width: 800px){
    .nav-content{
        display: flex;
        flex-direction: column;
        gap: 30px;
        
    }

    .nav-logo img{
        padding-bottom: 10px;
    }
    
    .list-event{
        display: none;
    }
}

@media (max-width: 768px) {
    .card-wrapper {
      margin: 0 10px 25px;
    }
    .card-wrapper .swiper-slide-button {
      display: none;
    }
    .input-box{
        font-size: 13px;
        height: 30px;
    }
    .btn-input{
        height: 30px;
        width: 30px;
        font-size: 13px;
    }
    .btn-input label{
        height: 30px;
        width: 30px;
        font-size: 14px;
    }
    #local-btn{
        font-size: 14px;
    }
    #local-btn i{
        font-size: 17px;
    }
  }


@media(max-width: 650px){
    .filtro-container{
        flex-direction: column;
    }
    
    
}

/* Alterações no footer */

.footer-container{
    background-color: var(--cor-principal);
    padding: 5rem;   
    max-width: 2000px;
    margin: 0 auto;
}

.img-container img{
    max-width: 12.5rem;
    max-height: 6.25rem;
    width: auto;
    height: auto;

}

.footer-container ul{
    display: flex;
    gap: 2em;
    margin-top: 1.1em;
    margin-bottom: 6em;
    justify-content: center;
    
}

.footer-container ul li , a{
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    color: var(--cor-branca);
    
}

.img-container, .footer-copy{
    display: flex;
    justify-content: center;

}

.footer-copy p{
    color: var(--cor-branca);
    font-size: 20px;
}


